header{
    font-size: 45px;
    background-color: rgb(235, 252, 252);
    color: black;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid grey;
}

body{
    background-color: #bee8f0;
    font-style: oblique;
}

.Times{
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
}

.Times li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: middle;
    margin: 0 2% auto;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

li img{
    width: 80%;
}

.Times li:hover{
    border: 10px solid #c72d19;
}

.time-descricao{
    font-size: 12px;
}

nav a:hover{
    color: #c72d19;
    text-transform: uppercase;
    text-decoration: underline;
}

footer{
    border-bottom: 3px solid gray;
}